<app-navbar></app-navbar>

<div class="main-container container-fluid p-5 d-flex align-items-center justify-content-between position-relative mt-5">
  <div>
    <img src="/Images/sprinking-masala.png" class="about-content-image1" width="300" height="200" alt="sprinkling-masala" />
  </div>
  <div class="text-center w-50">
    <h2>Every Meal Tells A Story</h2>
    <h4>Make yours flavourful with AnjaraPetti</h4>
    <p><b>AnjaraPetti</b> is a premium home-based brand specializing in authentic, handcrafted spice blends and masala powders. Rooted in
      tradition and crafted with care, we bring the essence of homemade flavors to your kitchen.</p>
  </div>
  <div class="about-img-3">
    <img src="/Images/AnjaraPettiRoundedText.png" class="about-content-image2" width="200" height="200" alt="AnjaraPettiRoundedText" />
  </div>
</div>
