.main-container{
  margin-top: 100vh;
}

.about-content-image1{
  border-radius: 0% 50% 0% 50%;
}

.about-content-image2{
  border-radius: 50%;
}

.about-img-3{
  animation: spin 6s infinite linear;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
