<nav class="navbar navbar-expand-lg bg-transparent flex-column align-items-start px-lg-5 pb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="/Images/LOGO.png" alt="AnjaraPetti" width="200" height="75">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <a class="offcanvas-title" href="">
          <img src="/Images/LOGO.png" alt="AnjaraPetti" width="150" height="60">
        </a>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center py-4 flex-grow-1 fw-bold">
          <li class="nav-item">
            <a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/career" routerLinkActive="active">Career</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/news" routerLinkActive="active">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/partner" routerLinkActive="active">Partner</a>
          </li>
        </ul>
        <div class="py-4 m-0">
          <button class="btn btn-primary" (click)="navigateToLogin()">Login</button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row flex-grow-1 m-5">
    <div class="p-5 d-flex flex-row align-items-center">
      <div class="nav-body-content">
        <h1 class="text-white">Authentic flavors, timeless traditions!</h1>
        <h4 class="text-white">A little bit of you, and life gets all the right flavors.</h4>
        <div class="mt-5">
          <button class="btn btn-primary">Let's Go</button>
        </div>
      </div>
    </div>
    <div class="d-flex position-relative">
      <div class="me-5">
        <div class="pill-bg1"></div>
        <img src="/Images/Masala3.jpg" class="nav-body-image" alt="clove-masala" width="250" height="350"/>
      </div>
      <div class="mt-5 position-relative">
        <div class="pill-bg2"></div>
        <img src="/Images/Masala2.jpg" class="nav-body-image" alt="clove-masala" width="250" height="350"/>
      </div>
    </div>
  </div>
</nav>
