.nav-item{
  font-size: large;
  padding-right: 2rem;
}

.nav-link{
  color: white;
}

nav{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Images/Home-bg-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-body-image{
  height: 55vh;
  width: 300px;
  border-radius: 150px;
  border: 1px solid rgb(255, 25, 64);
}
